.fall {
  animation: fall 1s ease-in forwards;
}

@keyframes fall {
  0% {
    top: 0%;
  }

  80% {
    height: 100%;
    top: calc(100vh - 100% - 90%);
  }

  90% {
    height: 90%;
    top: calc(100vh - 90% - 90%);
  }

  100% {
    height: 100%;
    top: calc(100vh - 100% - 90%);
  }
}

.rise {
  animation: rise 1s ease-in forwards;
}

@keyframes rise {
  0% {
    top: 0%;
  }

  100% {
    top: -2000%;
    opacity: 1;
  }
}

.hit {
  animation: hit 1s ease-in forwards;
}

@keyframes hit {
  0% {
    top: 0%;
  }

  40% {
    top: calc(0% - 150px);
    height: 100%;
  }

  50% {
    top: calc(0% - 150px);
    height: 90%;
  }

  60% {
    top: calc(0% - 150px);
    height: 100%;
  }

  100% {
    top: 0%;
    height: 100%;
  }
}